<div class="col-md-8 col-md-offset-2">
  <h2 class="text-center">Job Details</h2>
  <hr>
  <p>Title: <%= @job.title %></p>
  <p>Description: <%= @job.description %></p>
  <p>Created at: <%= @job.created_at %></p>
</div>
