<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collase" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Job Listing</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to("<span class='glyphicon glyphicon-user'></span> Sign Up".html_safe, "#") %>
        </li>
        <li>
          <%= link_to("<span class='glyphicon glyphicon-log-in'></span> Login".html_safe, "#") %>
        </li>
      </ul>
    </div>
  </div>
</nav>
